/* Main style sheet */
* {
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #224870;
    color: #E1F2FE;
    padding: 15px 0px 15px 0px;
    font-size: 50px;
    position: relative;
    max-width: 100%;
}

#titleContainer {
    border: solid;
    border-color: #E1F2FE;
    padding: .5%;
    padding-left: 2%;
    padding-right: 2%;
}

#logoImage1 {
    position: absolute;
    left: 0;
    top: 7%;
}

#logoImage2 {
    right: 0;
    top: 7%;
    position: absolute;
}


#start-game {
    justify-content: center;
}

#hint-game {
    margin: 10px;
}

#solve-game {
    margin: 10px;
}

.hide {
    display: none;
}


footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #224870;
    color: #E1F2FE;
    position: absolute;
    bottom: 0;
    width: 100%;
}