/* Main style sheet */
* {
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #224870;
    color: #E1F2FE;
    padding: 15px 0px 15px 0px;
    font-size: 50px;
    position: relative;
    max-width: 100%;
}

#titleContainer {
    border: solid;
    border-color: #E1F2FE;
    padding: .5%;
    padding-left: 2%;
    padding-right: 2%;
}

#logoImage1 {
    position: absolute;
    left: 0;
    top: 7%;
}

#logoImage2 {
    right: 0;
    top: 7%;
    position: absolute;
}

#easyBtn {
    margin: 2%;
}

#medBtn {
    margin: 2%;
}

#hardBtn {
    margin: 2%;
}

#start-game {
    justify-content: center;
}

#hint-game {
    margin: 10px;
}

#solve-game {
    margin: 10px;
}

/* Custom Classes Styling */
.hide {
    display: none;
}


/* Controls / NumberPad Stylings */
.numberPadContainer {
    margin: 40% auto 0%;
    width: 90%;
}

.numberPadBtn {
    margin: 1%
}
/* Random Quote Stylings */
#randomQuoteContainer {
    margin: 40% 10% 0%;
}

.bx {
    margin: 1em auto;
    padding: 1em 2em;
    border: solid 1px #808080;
    display: inline-block;
    position: relative;
    font-size: 18px;
    max-width: 400px;
}
.bx h2 {
    font-size: 1.1em;
    margin: 0.5rem;
    font-style: italic;
}

.bx p {
    font-weight: 540;
}

.grayBox {
    background: rgb(243, 244, 246);
    border: solid 1px #848789;
    box-shadow: inset 4px 4px 4px 0 rgba(245, 245, 245, 0.8), inset -4px -4px 4px 0 rgba(145, 145, 145, 0.3);    
}

.grayBox::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -12px; top: -12px; right: -12px; bottom: -12px; 
    background: #b0b0b0;
    border: solid 1px #848789;   
    box-shadow: inset -4px -4px 4px 0 rgba(245, 245, 245, 0.3), inset 4px 4px 4px 0 rgba(145, 145, 145, 0.8); 
    border-radius: 4px;    
    
}

/* Sudoku Board Stylings */
#board {
    margin-top: 35%;
    margin-right: 0;
    padding-right: 0;
    margin-left: 10%;
    
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}

td:nth-child(3n) {
    border-right-width: 5px;
}
td:nth-child(9n) {
    border-right-width: 1px;
}
tr:nth-child(4) {
    border: 1px solid black;
    border-top-width: 5px;
}
tr:nth-child(7) {
    border: 1px solid black;
    border-top-width: 5px;
}

/* Style for empty cells*/
.empty-cell {
    background-color: #f2f2f2;
}

.empty-cell input{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    border: none;
}


/* Footer Stylings */
footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #224870;
    color: #E1F2FE;
    position: fixed;
    bottom: 0;
    width: 100%;
}




.textToRed {
    color: red;
}


.generatedDiv {
    display: flex;
    justify-content: center;
    border: solid 1px;
    border-color: black;
    color: rgb(55 65 81);
    background-color: rgb(34 197 94);
    margin: 10%;
    padding: 1.9%;
}